/deeposwsrm_data/
*.tif
*.tiff
*.png
*.jpg
/srm/
/pycache__/
*.pyc
__pycache__/
.env
.vscode/
.ipynb_checkpoints/
.DS_Store
logs/
*.log
checkpoints/
*.ckpt
results/
*.csv
*.npy
*.npz
temp/
*.sqlite3
*.sqlite
/outputs/
credentials.json
token.pickle